<%- include("header"); -%>


<div class="content">
        <div class="container-fluid">
  



 <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <span class="nav-tabs-title">Balance</span>
                      
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="income">
                      <table class="table">
                      <th>Sno</th>
                      <th>Date</th>
                      <th>Discription</th>
                      <th>Amount</th>
                        <tbody>
                        
                        <% var i=0; %>
<% acc.forEach(function(fund){i++; %>
         <%   if(fund.credit > 0 ){   %>
                        
                        <tr>
                        <td><%= i %></td>
                         <td> <% var d= fund.date.getDate(); m=1+fund.date.getMonth();y=fund.date.getYear()%100 %>
                      <%= d + "/" + m +"/"+y%></td>
                        <td><%= fund.description %></td>
                       
                        <td>+<%= fund.credit %></td>
                        </tr>
          <%   }%>
             <%   if(fund.debit >  0){%>
                        <tr>
                        <td><%= i %></td>
                         <td>
                           <% var d= fund.date.getDate(); m=1+fund.date.getMonth();y=fund.date.getYear()%100 %>
                      <%= d + "/" + m +"/"+y%>
                          </td>
                        <td><%= fund.description %></td>
                       
                        <td>-<%= fund.debit %></td>
                        </tr>
          <%  }%>

<%})%>
                        </tbody>
                      </table>
                      <form action="/fund" method="post">
                          <div class="row">
                          <div class="col-md-2">
                                    <div class="form-group">
                                    <input type="date" class="form-control" name="date" value="<%= new Date(); %>">
                                          
                                     </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                      
                                          <select class="form-control" name="acc" >
                                          <option class="bmd-label-floating mylabel" value="credit">Deposite</option>
                                          <option class="bmd-label-floating mylabel" value="Debit">Withdraw</option>
                                          </select>
                                     </div>
                                </div>
                                  <div class="col-md-3">
                                    <div class="form-group">
                                          <input type="text" name="desc" placeholder="Discription" class="form-control">
                                     </div>
                                </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                        <input type="text" name="amt" placeholder="Amount"  class="form-control">
                                  </div>
                              </div>
                            <div class="col-md-2">
                                  <div class="form-group">
                                        <button type="submit" class="btn btn-primary pull-right">Save</button>
                                  </div>
                              </div>
                    </div>
                    </form>
                      </div>

                 



</div>
</div>








 <%- include("footer"); -%>