<%- include("header"); -%>

    <div class="content">
        <div class="container-fluid">
        		  <div class="row">
<div class="col">

</div>
<div class="col-md-2">
                <div class="form-group">
                        <form class="navbar-form" action="/rent/search" method="post">
                          
                          <select class="form-control" name="amt" type="Checkbox" id="rc">
                             <option value="" class="bmd-label-floating mylabel">Amount</option>
                          <option value="true" class="bmd-label-floating mylabel">Due</option>
                          <option value="false" class="bmd-label-floating mylabel">No Due</option>
                           </select>
                           
                         
                </div>
            </div>
              <div class="col-md-2">
                  <div class="form-group">
                     
                           <select class="form-control" name="retrne" id="retrn" onchange="this.form.submit()">
                            <option value="" class="bmd-label-floating mylabel">Bike</option>
                          <option value="true" class="bmd-label-floating mylabel">Out</option>
                          <option value="false" class="bmd-label-floating mylabel">In</option>
                           </select>
                             </form>
                  </div>
              </div>
               <div class="col-md-2">
  
 <form class="navbar-form" action="/rent/search" method="post">
              <div class="input-group no-border">
  <input type="month" id="start" name="month" min="2018-03" value=""  onChange="this.form.submit()" class="form-control">
              </div>
            </form>
        </div>
        <div class="col-md-4">
           <form class="navbar-form" action="/rent/search" method="post">
              <div class="input-group no-border">
                <input type="text" value="" name="para" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form>
</div>
</div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Rental Records</h4>
                  <p class="card-category"></p>
                </div>
                <div class="card-body">
                  <div id="print" class="table-responsive">
                    <table class="table table-hover" >
                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                         <th>
                          Bike
                        </th>
                        <th>
                          Reg.No
                        </th>
                        <th>
                          Name
                        </th>
                       
                        <th>
                          Contact No
                           </th>
                           <th>
                           Hire Date
                            </th>
                              <th>
                           Relese Date
                            </th>
                         <th>
                       Rate
                        </th>
                        <th>
                          Recieved
                        </th>
                          <th>
                          Due
                        </th>
                         <th>
                          Note
                        </th> 
                        <th scope="col">Status</th>
                        <th>
                          Actions
                        </th>

                      </thead>
                      <tbody>
                			<% var i = 1; %>
                       <%  rentRecorde.forEach(function(rent){ %>
                       		<tr>
                       	<th> <%= i %>              </th>
                       	<td> <%= rent.bname %>     </td>
                       	<td> <%= rent.registerno %></td>
                       	<td> <%= rent.name       %></td>
                       	<td> <%= rent.contact   %> </td>
         	<td><% var d= rent.hdate.getDate(); m=1+rent.hdate.getMonth();y=rent.hdate.getYear()%100 %>
                      <%= d + "/" + m +"/"+y%>	</td>
                				<% if(rent.rdate==null){ %>
                					<td> -- </td>
                				<% }else { %>

                				<td><% var d= rent.rdate.getDate(); m=1+rent.rdate.getMonth();y=rent.rdate.getYear()%100 %>
                      <%= d + "/" + m +"/"+y%>	</td>
                				<%}%>
                					       

                      	<td> <%= rent.rate %> </td>
                      	<td> <%= rent.receive %> </td>
                      	<td> <%= rent.due %> </td>
                      	<td> <%= rent.note %> </td>
                      	<% if(rent.status==true){ %>
                      			<td><i class="fa fa-arrow-right" aria-hidden="true" style="font-size: x-large;"></i></td>
                      	<%}else { %>
                      				<td> <i class="fa fa-arrow-left" aria-hidden="true"  style="font-size: x-large;"></i></td>
                      	<% }%>
						              <% if(rent.status==true){ %>
             					   <td>   <a href="/updaterent/<%=rent._id %>"><i class="fa fa-retweet" aria-hidden="true" style="font-size: x-large;"></i></a><td>
             					   	<%}else { %>
                      				<td> <a href="/updaterent/<%=rent._id %>"><span class="material-icons">create</span></a></td>
                      	<% }%>
                      	</tr>

                                <% i++; }) %>
                      </tbody>









                      
                    </table>
                  </div>

                </div> 


          </div>
          </div>

       <script>
document.getElementsByClassName('nav-item')[3].classList.add('active');
</script>
<%- include("footer"); -%>