<%- include("header"); -%>
   
   <div class="content">
        <div class="container-fluid">

  <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Enter Rental Details</h4>
                
                </div>
                <div class="card-body">
                  <form action="/updaterent" method="post">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Bike Name/Model</label>
                          <input type="text" name="bname" class="form-control" value="<%= bikeR.bname%>">
                          <input type="hidden" name="id" class="form-control" value="<%= bikeR._id%>">
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label class="bmd-label-floating">Reg.No</label>
                          <input type="text" name="registerno"  class="form-control" value="<%= bikeR.registerno%>">
                        </div>
                      </div>
                       <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Customer Name</label>
                          <input type="text" name="name" class="form-control" value="<%= bikeR.name%>">
                        </div>
                      </div>
                       <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Contact No:</label>
                          <input type="text" name="contact" class="form-control" value="<%= bikeR.contact%>">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                     
                      <div class="col-md-2">
                        <div class="form-group">
                          <label class="">Hire Date</label>
<% var d= ('0' +bikeR.hdate.getDate()).slice(-2); m=('0' +(bikeR.hdate.getMonth()+1)).slice(-2);y=bikeR.hdate.getFullYear() %>
                     
                         <input type="date" class="form-control" name="hdate"  value="<%= y + "-" + m +"-"+d%>">
                        </div>
                      </div>
                      	      <div class="col-md-2">
                        <div class="form-group">
                          <label class="">Release Date</label>
                          <% if(bikeR.rdate==null){ %>
                        <input type="date" class="form-control" name="rdate"  value="">
                        <% }else { %>
<% var d= ('0' +bikeR.rdate.getDate()).slice(-2); m=('0' +(bikeR.rdate.getMonth()+1)).slice(-2);y=bikeR.rdate.getFullYear() %>
                         <input type="date" class="form-control" name="rdate"  value="<%=y + "-" + m +"-"+d%>">
                         <%}%>
                        </div>
                      </div>

                     <div class="col-md-2">
                        <div class="form-group">
                          <label class="bmd-label-floating">Rate</label>
                          <input type="text" id="first" name="rate" class="form-control" value="<%= bikeR.rate%>">
                        </div>
                      </div>
                       <div class="col-md-2">
                        <div class="form-group">
                          <label class="bmd-label-floating">Received</label>
                          <input type="text" id="third" name="receive" class="form-control" value="<%= bikeR.receive%>">
                           <input type="hidden" name="oldrec" value="<%= bikeR.receive%>">
                        </div>
                      </div>
                     
                      <div class="col-md-2">
                        <div class="form-group">
                          <label class="bmd-label-floating">Due</label>
                          <input type="text" id="result" name="due"  class="form-control" value="<%= bikeR.due%>">
                        </div>
                      </div>
                        <div class="col-md-2">
                        <div class="form-group"><% var i="unchecked";%>
                        <% if(bikeR.status === false){i="checked"} %>
                           <input class="mycheck" name="return" type="Checkbox" id="recieve" value="false" <%= i %>>
                          <label class="bmd-label-floating mylabel">Return</label>
                        </div>
                      </div>
                      </div>
                    <div class="row">
                     
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Note</label>
                          <div class="form-group">
                            <label class="bmd-label-floating"></label>
                            <textarea class="form-control" name="note" rows="1"><%= bikeR.note%></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right"  onclick="return confirm('Are You Sure!')">Update</button>
                    <div class="clearfix"></div>
                  </form>



                  </div>
                  </div>
   <script>
document.getElementsByClassName('nav-item')[3].classList.add('active');

var first = document.getElementById('first');
var third = document.getElementById('third');
var result = document.getElementById('result');

first.addEventListener("input", sum);
result.addEventListener("input", sum);
third.addEventListener("input", sum);


function sum() {

var one = parseFloat(first.value) || 0;
var three = parseFloat(third.value) || 0;
 var two = parseFloat(result.value) || 0;
var add = (one-two);

third.value = add;

}
</script>
<%- include("footer"); -%>